/* start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --main-color: #2196F3;
    --main-color-alt: #1787e0;
    --main-transition:.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background:#ececec;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Cairo', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: p;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


  .main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
  } 
  .main-title:hover{
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
  }
  .main-title::before {
    left: -30px
  }
  .main-title::after {
    right: -30px;
  }
  .main-title:hover::before{
    z-index: -1;
    animation: left-move .5s linear forwards;
  }
  .main-title:hover::after{
    z-index: -1;
    animation: right-move .5s linear forwards;
  }
  .main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
    
/* end global rules */
/* start header */
.header{
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .logo{
    color: var(--main-color);
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    height: 72px;
}
.header .main-nav{
    display: flex;
}
.header .main-nav> li> a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
    height: 72px;
    position: relative;
    padding: 0 30px;
    transition: var(--main-transition);
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
/* end header */

/* start megamenu */
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.header .mega-menu{
position: absolute;
width: 100%;
left: 0;
padding: 20px;
background-color: white;
border-bottom: 2px solid var(--main-color);
z-index: -1;
display: flex;
gap: 40px;
top: calc(100% + 50px);
transition: top var(--main-transition);
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
}
.header .mega-menu .image img{
  max-width: 100%;
}
@media (max-width:991px){
  .header .mega-menu .image{
    display: none;
  }
}
.header .mega-menu .links{
  min-width: 210px;
  flex: 1;
}
.header .mega-menu .links li{
position: relative;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
.header .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
.header .mega-menu .links li::before{
content: "";
position: absolute;
left: 0;
top: 0;
width: 0;
height: 100%;
background-color: #fafafa;
z-index: -1;
transition: var(--main-transition);
}


/* start megamenu */

/* start landing */
.landing {
    position: relative;
  }
  .landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
  }
  .landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
  }
  .landing .text {
    flex: 1;
  }
  @media (max-width: 991px) {
    .landing .text {
      text-align: center;
    }
  }
  .landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
  }
  @media (max-width: 767px) {
    .landing .text h1 {
      font-size: 28px;
    }
  }
  .landing .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
  }
  @media (max-width: 991px) {
    .landing .text p {
      margin: 10px auto;
    }
  }
  @media (max-width: 767px) {
    .landing .text p {
      font-size: 18px;
    }
  }
  .landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
  }

  @media (max-width: 991px) {
    .landing .image {
      display: none;
    }
  }
  .landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
  }
  .landing .go-down:hover {
    color: var(--main-color-alt);
  }
  .landing .go-down i {
    animation: bouncing 1.5s infinite; 
 }
/* end landing */

/* start articles */
.articles{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
/* .articles .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 40px;
} */
.articles .box{
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.096);  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .box:hover {
  transform: translateY(-8px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.329);
}
.articles .box img{
  width: 100%;
  max-width: 100%;
}
.articles .box .content{
  padding: 20px;
}
.articles .box .content h3{
  margin: 0;
}
.articles .box .content p{
  color: #777;
}
.articles .box .content .info{
display: flex;
justify-content: space-between;
}
.articles .box .content .info a{
  color: var(--main-color);
  font-weight: bold;
}
.articles .box .content .info i{
  color: var(--main-color);
}
/* end articles */

/* start gallery */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
/* .gallery .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
} */
.gallery .card{
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .card .image {
  position: relative;
  overflow: hidden;
}
.gallery .card .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
.gallery .card img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .card .image:hover img {
  transform: rotate(6deg) scale(1.2);
}

/* end gallery */

/* start features */
.features{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}
/* .features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  gap: 40px;
} */
.features .box{
  text-align: center;
  border: 1px solid #ccc;
}
.features .box .image{
position: relative;
overflow: hidden;
}
.features .box .image::before{
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 100%;
}
.features .box .image::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 160px 390px;  
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.features .box:hover .image:after{
  border-width: 170px 500px 170px 0;
  
}
.features .box .image img{
max-width: 100%;
}
.features .box h2 {
  position: relative;
  font-size: 35px;
  margin: auto;
  width: fit-content;
}
.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  height: 3px;
  width: calc(100% - 30px);
}
.features .box p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}
.features .box a {
  display: block;
  border: 2px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 6px;
  transition: var(--main-transition);
}
.features .quality .image::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .quality h2::after {
  background-color: #f44036;
}
.features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .time .image::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .time h2::after {
  background-color: #009688;
}
.features .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .passion .image::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .passion h2::after {
  background-color: #03a9f4;
}
.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .box:hover a {
  background-position: left bottom;
  color: white;
}
/* end features */

/* start testmonials */
.testmonials{
  padding-top:var(--main-padding-top) ;
  /* padding-bottom:var(--main-padding-bottom) ; */
  position: relative;
  background-color: var(--section-background);
}
/* .testmonials .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
} */
.testmonials .card{
  padding: 20px;
  box-shadow: 0 0 7px #80808094;
  border-radius: 5px;
  background-color: white;
  position: relative;
}
.testmonials .card img{
    border-radius: 50%;
    width: 90px;
    position: absolute;
    right: 0;
    top: -45px;
    border: 8px solid #06060621;
}
.testmonials .card h3{
  margin: 0 0 10px;
}
.testmonials .card .title{
  color: #777;
  margin-bottom: 10px;
  display: block;
}
.testmonials .card p{
  color: #777;
  line-height: 1.4;
}
/* end testmonials */

/* start members */
.members{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
/* .members .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
} */
.members .container .box{
  position: relative;
  z-index: 1;
}

.members .container .box:hover::before{
  filter: grayscale(100%);
}


.members .container .box::before{
  content: "";
  position: absolute;
  height: calc(100% + 25px);
  width: 80%;
  background-color: #ececec;
  z-index: -2;
  border-radius: 20px;
  right: 0;
}
.members .container .box .data{
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 50px;  
  
}
.members .container .box .data img{
  width: calc(100% - 50px);
  border-radius: 12px;
  transition: var(--main-transition);
}
.members .box:hover img {
  filter: grayscale(100%);
}
.members .container .box .data .social{
  display: grid;
  gap: 20px;
  padding-left: 6px;
}
.members .container .box .data .social a{
  color: #777;
  font-size: 18px;
}
.members .box .data .social a:hover i {
  color: var(--main-color);
}
.members .box .info{
  padding-left: 95px;
  line-height: 1;
}
.members .box .info h3{
color: var(--main-color);
font-size: 22px;
}
.members .box:hover .info h3{
color: #777;
}
/* end members */

/* start services */
.services{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
/* .services .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
} */
.services .box{
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    transition: var(--main-transition);
    position: relative;
  }
  .services .box::before {
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    background-color: var(--main-color);
    position: absolute;
    width: 0;
    transition: var(--main-transition);
  }
  .services .box:hover {
    transform: translateY(-10px);
  }
  .services .box:hover::before {
    width: 100%;
  }
.services .container .box i{
  color: #D5D5D5;
    font-size: 65px;
    padding-left: 140px;
    padding-top: 30px;
    margin-bottom: -5px;
}
.services .container .box h3{
  color: var(--main-color);
  text-align: center;
  font-size: 25px;
}
.services .box .info {
  padding: 15px;
  position: relative;
  background-color: #f9f9f9;
  text-align: right;
}
.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.services .box .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}
.services .box .info a {
  color: var(--main-color);
}
/* end services */

/* start stats */
.stats{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-image: url(../images/stats.jpg);
  background-size: cover;
  min-height: 300px;
}
.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}
/* .stats .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 40px;
} */
.stats h2{
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
}
.stats .card{
  background-color: white;
  text-align: center;
  padding: 25px;
  position: relative;
  transition: var(--main-transition);
  opacity: .7;
}
.stats .card:hover{
  opacity: 1;
}
.stats .card::before{
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background: var(--main-color);
  left: 0;
  bottom: 0;
  transition: 1s;
}
.stats .card:hover::before{
  height: 100%;
}
.stats .card::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background: var(--main-color);
  right: 0;
  top: 0;
  transition: 1s;
}
.stats .card:hover::after{
  opacity: 1;
  height: 100%;
}
.stats .card i{
  font-size: 33px;
  display: block;
  padding-bottom: 10px;
}
.stats .card .number{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: -12px;
  display: block;
}
.stats .container .card p{
  color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
}
/* start stats */

/* start discount */
.discount{
  min-height: 100vh;
  display: flex;
}


.discount .image{
 width: 50%;
 background-image: url(../images/discount-background1.jpg);
 background-size:cover ;
 position: relative;
 height: 665px;
}
.discount .image::before{
  content: "";
  position: absolute;
  background-color: #2195f3fa;;
  width: 100%;
  height: 100%;
}
.discount .image .first{
  z-index: 1;
  position: absolute;
  text-align: center;
}
.discount .image .first h2{
  color: white;
    font-size: 36px;
    padding-top: 30px;
}
.discount .image .first p{
  margin: 0px 100px;
  color: white;
  font-size: 18px;
  line-height: 1.6;
}
.discount .image .first img{
width: 275px;
}
.discount .form{
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.form .second h2{
  font-size: 38px;
  
  letter-spacing: -1px;
}
.form .second .input{
  display: block;
  padding: 15px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #CCCCCC;
  background-color: #F9F9F9;
  width: 100%;
}
.form .second textarea.input{
  resize: none;
  height: 200px;
}
.form .second form .btn{
  background: var(--main-color);
    color: white;
    border: none;
    padding: 14px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
}
/* end discount */

/* start footer */
.footer{
  background-color: #191919 ;
}
.footer .container{
  /* display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 30px; */
  padding-top: 70px;
  padding-bottom: 70px;
}
.footer .box h2{
  color: white;
  font-size: 50px;
  margin: 0;
}
.footer .box .icons{
display: flex;
gap: 10px;
padding: 18px 0px 0px;
}
.footer .box .icons a{
  border: 3px solid #3c3c3c;
  background-color: #3c3c3c;
  color: #b9b9b9;
  padding: 11px;
}
.footer .box .icons a i{
 font-size: 22px;
}
.footer .box .text{
  color: #b9b9b9;
  font-size: 17px;
  line-height: 1.8;
}
.footer .box .links{
  padding: 5px 35px 0px 0;
}
.footer .box .links li{
  padding: 13px 0 17px;
}
.footer .box .links li:not(:last-child){
  border-bottom: 1px solid #6c6c6c;

}

.footer .box .links li a{
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a::before{
  content: ">>";
  padding-right: 15px;
  color: var(--main-color);
  letter-spacing: -2px;  
}
.footer .box .links li a:hover{
padding-left: 20px;
}

.footer .box .details{
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .box .details i{
  color: var(--main-color);
    font-size: 25px;
}
.footer .box .info{
  color: #b9b9b9;
    line-height: 1.8;
}
.footer .box .image{
  margin: 12px 0 0 45px;
}
.footer .box .image .col-lg-4{
  padding-bottom: 10px;
}
.footer .box .image img{
  width: 70px;
  border: 3px solid white;
}
.footer .span{
  text-align: center;
  font-size: 20px;
  padding-bottom: 22px;
  color: #b9b9b9;
  font-style: italic;
  border-top: 1px solid #444;
  padding-top: 22px;
} 






/* end footer */

/* start animation */
@keyframes up-and-down {
  0%,100%{
    top: 0;
  }
  50%{
    top: -50px;
  }
}
@keyframes bouncing {
  0%,10%,20%,30%,50%,70%,80%,90%,100%{
    transform: translateY(0);
  }
  40%,60%{
    transform: translateY(-15px);
  }
}
@keyframes left-move{
  50%{
    left: 0;
    width: 12px;
    height: 12px;
  }
  100%{
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move{
  50%{
    right: 0;
    width: 12px;
    height: 12px;
  }
  100%{
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
/* end animation */